*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
background-color: #222;
display: flex;
flex-direction: column;
font-family: sans-serif;
}
header{
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #4444;
    z-index: 10000;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}



nav a{
    text-decoration: none;
    font-weight: 500;
    color: #ffcc00;
    font-size: 13px;
    transition: 0.6s;


}
a:hover{
    color: orangered;
}

nav:hover :not(a:hover){
   transform: rotate(10deg);

}

.bunner{
    width: 100%;
    height: 30vh;
    background-image: url(./imgsoure/sea-games-cover-header\ \(1\).webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.bunner .content{
    margin-left: 3rem;
    color: #172038;
}
.content p{
    font-weight: 600;
}
.content h1{
    letter-spacing: 15px;
    border-bottom: solid ;
}
.latest{
    width: 100%;
    height: 140vh;
    text-align: center;
    display: grid;
grid-template-columns: repeat(3, minmax(20px, 360px));
    justify-content: center;
}

.cards{
    width: 20rem;
    height: 50vh;
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background-color: #4444;
align-items: center;
    border-bottom:solid 7px #c49216 ;
}
.cards h2{
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    color: #d2c9c9;
    width: 90%;
}
.cards h2:hover{
    color: orangered;
}
.cards p{
    color:#a29797;
    width: 90%;
    font-size: 0.9rem;
}
.latest:hover .cards:not(:hover){
  filter: blur(2px);
  transform: scale(1.02);

  
}

header button{
    width: 100px;
    margin-left: 10rem;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(90deg,#ffcc00,#222,#f4f4f4);
    background-clip: text;
    color: transparent;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}
header button:active{
    transform: scale(1.03);
}

.cards:hover{
transform:scaleY(1.1);
    border: 3px dotted #ffcc00;
}
.cards img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: solid 4px gold;      
}
.cards ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.update{
    margin-left: 20%;
    color: #d2c9c9;
    letter-spacing: 10px;
  
}
.update h1{
    color: #ffcc00;
}
ul{
    display: flex;
    color: #FFF;
    gap: 10px;
    position: relative;
    margin-left: -10rem;
}
ul li{
   list-style: none;
}
li i:hover{
    color: orangered;
    transform: scale(1.3);
}
.footer{
    width: 100%;
    height: 40vh;
    background-color: #172038;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.footer .link ul{
    display: flex;
   flex-direction: column;
}
.link ul li{
    border-bottom: solid #ffcc00;
}
.footer .social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social h3{
    color: orangered;
}
.social h1{
    color: #fff;
}
.social input{
    height: 2rem;
    border: none;
    width: 80%;
    outline: none;
}
form{
    width: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form button{
    height: 2rem;
    border: none;
    width: 5.5rem;
    background-color: orangered;
    color: #FFF;
    font-size: 1rem;
    
}
form button:active{
    transform: scale(1.05);
}



.scanner span {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
  }
  
  .scanner span::before {
    content: "Access....";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17FEFF;
    overflow: hidden;
    color: #ffcc00;
    animation: load91371 2s linear infinite;
  }
  
  @keyframes load91371 {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #17FEFF;
    }
  
    60%, 80% {
      width: 100%;
    }
  }


  .wrapper{
    width: 100%;
    height: 100%;
    background-color: #222;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  iframe{
    display: none;
  }

  /* css for log in form*/

  .login_con{
    position: absolute;
    width: 30%;
    height: 70vh;
  left: 20rem;
  border-radius: 10px;
  top: 5rem;
background-color: #FFF;
display: flex;
flex-direction: column;
display: none;
align-items: center;
border: solid 4px blueviolet;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


  }
  .login_con form{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 25px;
    margin-top: 10px;
     width: 100%;    
     justify-content: center;
     align-items: center;
  }
  .login_con h2{
    font-weight: 800;
    letter-spacing: 10px;
    color: #222;
    position: absolute;
    top: 1rem;
  }
  form input{
    width: 50%;
    border: none;
    outline: none;
    border-bottom: solid #222;
    
  }
  form button{
    border-radius: 5px;
    transition: 0.6s;
    width: 50%;
   z-index: 100000;
   background-color: #222;
  }
  form button:hover{
    background-color: #fff;
    border: solid #222;
    color: #222;
    transform: scale(1.02);
    color: blueviolet;
  }
  form p{
    color: #7e6969;
    cursor: pointer;
  }
  .acctive{
display: flex;
  }
.login_con img{
    position: absolute;
    width: 170px;
    bottom: 10px;
    
}
form .user input {
width: 100%;
}
form .user{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
form  .user i{
 color: blueviolet;
}